body
{
   background-color: rgb(26, 25, 25);
}

form 
{
  position: relative;
  
 
}

.grid
{
    display: grid;
    grid-row-gap: 20px;
    position: relative;
    width: 230px;  
    margin: auto;

}
.grid-content
{
    background-color: rgb(223, 106, 28);
    padding: 14px;
    color: white;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    width: 200px;
    border-radius: 4px;
    box-shadow: 1px 1px 0px white;
   .boton
}
.contacto
{
    color: white;
    text-decoration: none;
}

.contacto a
{
    text-decoration: none;
    color: white;
    position: relative;
    left: 5px;
    font-family: arial;
    font-size: 20px;
}
.grid-content a 
{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-size: 20px;
}
.grid-content:hover
{
    background-color: teal;
}
.imagen {margin: auto; border-radius: 50%;}
.boton
{
    text-decoration: none;
}
